<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="Behavior" type="AppCfgExmaple.BehaviorSettings, AppCfgExample" />
    </configSections>
    <Behavior refreshTimeout="10">
    </Behavior>
    <appSettings>
        <add key="SecretPwd" value="$3cr3tPa$$w0rd" />
    </appSettings>
    <connectionStrings>
        <add name="Main" connectionString="Server=myServerName\myInstanceName;Database=myDataBase;User Id=myUsername;Password=myPassword;" />
    </connectionStrings>
</configuration>
